.bucket-view-component {
    background-color: white;
    padding: 20px 50px;
}
.objects-table {
    width: 100%;
    text-align: left;
    .description-body {
        max-width: 100px;
    }
}
.component-title {
    margin-top: 20px;
}
.file-input {
    display: none;
}
.bucket-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    .details {
        padding: 20px;
        line-height: 2em;
    }
    #deleteButton {
        background-color: red;
    }
}
