<h1>{{ title }}</h1>
<div class="bucket-view-component" *ngIf="!loading">
  <mat-tab-group>
    <mat-tab label="Files">
      <div class="component-title">
        <span>All Buckets ({{ objects.length }})</span>
        <input
          type="file"
          class="file-input"
          (change)="uploadObject($event)"
          #fileUpload
        />
        <button mat-raised-button color="primary" (click)="fileUpload.click()">
          Upload Object
        </button>
      </div>
      <div class="table-holder">
        <table
          mat-table
          [dataSource]="objects"
          class="objects-table"
          *ngIf="objects"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>NAME</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="lastModified">
            <th mat-header-cell *matHeaderCellDef>LAST MODIFIED</th>
            <td mat-cell *matCellDef="let element">
              {{ element.last_modified.substring(0, 10) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef>SIZE</th>
            <td mat-cell *matCellDef="let element">{{ element.size }} B</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" fxLayoutGap="5px">
              <button
                mat-mini-fab
                color="primary"
                (click)="removeObject(element.name)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Details">
      <div class="bucket-details">
        <div class="details">
          <div>Bucket name: {{ bucket.name }}</div>
          <div>Location: {{ bucket.location.name }}</div>
          <div>Storage size: {{ objectsSize() }} B</div>
        </div>
        <div class="button-container">
          <button
            mat-raised-button
            (click)="deleteBucket()"
            id="deleteButton"
          >
            Delete Bucket
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
