<h3>Create new bucket</h3>
<div *ngIf="!loading" class="bucket-create-component">
  <div class="inputs">
    <mat-form-field appearance="outline">
      <mat-label>Bucket Name*</mat-label>
      <input id="name" matInput [(ngModel)]="createBucketName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bucket Location*</mat-label>
      <mat-select id="type" [(ngModel)]="createBucketId">
        <mat-option *ngFor="let item of locations" [value]="item.id">{{
          item.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="addNewBucket()" color="primary" [disabled]="!createBucketId || !createBucketName">
      Create Bucket
    </button>
  </div>
</div>
