.bucket-list-component {
    background-color: white;
    padding: 20px 50px;
}
.buckets-table {
    width: 100%;
    text-align: left;
    // .mat-cell:last-child, .mat-header-cell:last-child {
    //     text-align: right;
    // }
    .description-body {
        max-width: 100px;
    }
    .mat-row {
        cursor: pointer;
    }
    .mat-row:hover {
        background-color: gray;
    }
}
