<h1>Bucket list</h1>
<app-bucket-create
  (getBuckets)="getBuckets()"
  *ngIf="showCreateBucketComponent"
></app-bucket-create>
<div class="bucket-list-component">
  <div class="component-title">
    <span>All Buckets ({{ buckets.length }})</span>
    <button
      mat-raised-button
      color="primary"
      (click)="showCreateBucketComponent = true"
    >
      Create New Bucket
    </button>
  </div>

  <div class="table-holder">
    <table
      mat-table
      [dataSource]="buckets"
      class="buckets-table"
      *ngIf="buckets"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>NAME</th>
        <td mat-cell *matCellDef="let element" (click)="onBucketClick(element.id)">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>LOCATION</th>
        <td mat-cell *matCellDef="let element" (click)="onBucketClick(element.id)">{{ element.location.name }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div *ngIf="!buckets">No buckets</div>
</div>
