<div md-dialog-content>{{confirmMessage}}</div>
<div md-dialog-actions>
  <button mat-raised-button color="primary" (click)="dialogRef.close(true)">Delete</button>
  <button mat-raised-button (click)="dialogRef.close(false)">Cancel</button>
</div>
