<!-- lala
<app-testpage></app-testpage> -->
<div id="main-title">Secure cloud storage</div>
<div id="app-container">
    <div id="width-limiter">
        <!-- <app-bucket-list></app-bucket-list> -->
        <router-outlet></router-outlet>
    </div>
</div>
