body {
    background-color: rgb(177, 177, 177);
    padding: 0;
    margin: 0;
}
#app-container {
    // max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    #width-limiter {
        width: 100%;
        max-width: 900px;
    }
}
#main-title {
    font-size: 30px;
    padding: 20px;
    background-color: gray;
    color: white;
    margin-bottom: 50px;
    font-weight: bold;
}
.component-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}